#mainContainer {
  border: 3px solid #e6ccff;
  border-radius: 10px;
  background: #f2f2f2;
  margin: 30px 20px 20px 20px;
  padding: 15px;
}

.companyRowButtons {
  padding: 5px;
  display: inline;
}